<div class="background-image-about">
	<%= render 'layouts/header' %>
	<main>
		<h1 class="page-title center">ABOUT</h1>
		<div class="about-box">
			<div class="center-box">
			    <div class="about-image"></div>
			    <h3>SUPER ORGANISM</h3>
			    <p>introductionintroductionintroductionintroductionint<br>
			    roductionintroductionintroductionintroductionintroductionintroduction</p>
		    </div>
		</div>
	</main>
</div>
