<div class="background-image-about">
	<%= render 'layouts/header' %>
	<main>
		<h1 class="page-title center">CONTACT</h1>
		  <div class="center-contact-box">
		  	<div class="contact-box">
		  	  <h4 class="inline">MAIL:</h2>
		  	  <p class="inline">EXAMPLE@EXAMPLE.COM
		  	 </div>
		  	<div class="contact-box">
		  	  <h4 class="inline">TELL:</h2>
		  	  <p class="inline">XXX-XXXX-XXXX</p>
		  	</div>
		  </div>
	</main>
	<%= render "layouts/footer"%>
</div>
