<div class="background-image-home">
	<%= render 'layouts/header' %>
	<main>
		<div class="title-box">
			<h2>DSCVR</h2>
			<h1>SUPER ORGANISM</h1>
			<p>SOMETHING FPR YOUR M.I.N.D</p>
		</div>
	</main>
</div>