<div class="background-image-about">
	<%= render 'layouts/header' %>
	<main>
		<h1 class="page-title center">MUSIC</h1>
		<div class="music-contents-box">
			<div class="box">
			<div class="music-box">
			    <div class="disc-image1"></div>
		    </div>
		    <div class="introduction">
		    	<h3 class="disc-name">A TOUR for YOUR M.I.N.D</h3>
		    	<ul class="disc-list">
		    	  <li>1.  music1</li>
		    	  <li>2.  music2</li>
		    	  <li>3.  music3</li>
		    	  <li>4.  music4</li>
		    	</ul>
		    </div>
		    </div>
		</div>
		<div class="music-contents-box">
			<div class="box">
			<div class="music-box">
			    <div class="disc-image2"></div>
		    </div>
		    <div class="introduction">
		    	<h3 class="disc-name">SUPER ORGANISM</h3>
		    	<ul class="disc-list">
		    	  <li>1.  music1</li>
		    	  <li>2.  music2</li>
		    	  <li>3.  music3</li>
		    	  <li>4.  music4</li>
		    	</ul>
		    </div>
		    </div>
		</div>
		<div class="music-contents-box">
			<div class="box">
			<div class="music-box">
			    <div class="disc-image3"></div>
		    </div>
		    <div class="introduction">
		    	<h3 class="disc-name">A TOUR for YOUR M.I.N.D</h3>
		    	<ul class="disc-list">
		    	  <li>1.  music1</li>
		    	  <li>2.  music2</li>
		    	  <li>3.  music3</li>
		    	  <li>4.  music4</li>
		    	</ul>
		    </div>
		    </div>
		</div>
		<div class="music-contents-box">
			<div class="box2">
			  <iframe width="560" height="315" src="https://www.youtube.com/embed/mJQYRzAoErc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		    </div>
		</div>
	</main>
	<%= render "layouts/footer"%>
</div>