<header class="container">
	<nav>
		<ul class="navigation">
			<li></li>
			<li><%= link_to "HOME",root_path %></li>
			<li></li>
			<li><%= link_to "ABOUT",homes_about_path %></li>
			<li></li>
			<li><%= link_to "MUSIC",homes_music_path %></li>
			<li></li>
			<li><%= link_to "CONTACT",homes_contact_path %></li>
			<li></li>
		</ul>
	</nav>
</header>